/* By Ayanga Oluwamurewa */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: white;
    min-height: 100vh;
}

#intro {
    background-color: #FFE9D6;
    position: relative;
    padding-bottom: .3em;
}

#prenav {
    position: relative;
    padding: 5px 0;
}

#EMS {
    position: absolute;
    top: .6em;
    left: 0;
    width: 6.5rem;
    height: 2rem;
}

#cart-btn {
    background-color: #FF9A3D;
    position: fixed;
    top: .4em;
    right: .5em;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    padding: .3em;
    height: 2.55rem;
    width: 4rem;
    border: none;
    border-radius: .8em;
}

#cart-img {
    width: 2.1rem;
}

#cart-count {
    color: white;
    text-align: center;
    font-size: 1.65rem;
    font-weight: bold;
    margin-top: 0.1em;
}

#navblk {
    margin: 3.5em auto 0;
    text-align: center;
    display: flex;
    width: 15rem;
}

.nav {
    text-decoration: dotted;
    color: black;
    width: 25%;
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0 auto;
}

#intro-main{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

#h1-wrapper {
    color: #FF9A3D;
    margin: .8em 0;
    width: 100%;
}

h1 {
    font-size: 1.7rem;
    font-weight: 800;
    white-space: pre-wrap;
    width: 80%;
    margin: auto;
}

.intro-img-wrapper {
    width: 100%;
}

#intro-img {
    width: 70%;
    margin: 0;
}

#shop-btn-div {
    background-color: #FF9A3D;
    border: transparent;
    border-radius: 5px;
    width: 50%;
    margin: 1em auto;
}

#shop-btn-link {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: .6em auto;
}

#about {
    background-color: black;
    text-align: center;
    padding: .7em;
    color: white;
}

#about p {
    font-size: 1rem;
    margin: .6em .2rem;
}

#shop-head {
    font-size: 1.3rem;
    font-weight: 800;
    text-align: center;
}

#shop-main {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-evenly;
    align-items: center;
    padding: .4em;
}

.prod {
    text-align: center;
    margin: 1em 0;
    border-radius: .2em;
    max-width: 11em;
}

.prod-img-wrapper {
    position: relative;
}

.prod img {
    width: 100%;
}

.prod-img-wrapper div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 4px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    visibility: hidden;
}

.prod div p {
    border-bottom: 3px solid white;
    width: 60%;
    font-weight: 600;
    padding: .4em;
    font-size: 1.2rem;
    text-align: center;
    margin: 2em auto 1.3em;
}

.prod div strong {
    font-size: 1.5rem;
}

.prod strong {
    font-size: 1.1rem;
    font-weight: 600;
    display: block;
    margin: 15px auto;
}

.prod button {
    background-color: #FF7A00;
    margin: .5em auto;
    width: 90%;
    height: 40px;
    border: none;
    display: block;
    font-size: .85rem;
    font-weight: 600;
    border-radius: 5px;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    padding: .4em;
    width: 100%;
    height: 100vh;    
}

.modals {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    padding: .4em;
    max-width: 700px;
    max-height: 90vh;
    background-color: white;
    overflow-y: auto;
}

#cart-table, #summary-table {
    margin: 1.5em auto;
    width: 100%;
    text-align: left;
}

table {
    width: 100%;
}

tr {
    height: 3.5em;
    font-weight: 600;
    font-size: 13px;
}

td {
    margin: .4em;
}

/* .prod-name {
    vertical-align: end;
} */

.reduce, .increase, .quant {
    width: 30%;
    float: left;
    font-weight: 600;
    text-align: center;
    height: 1.5em;
    margin-top: .3em;
}

.quant {
    margin-top: .45em;
}

.increase, .reduce, .clear{
    background-color: #FF9A3D;
    border: none;
    padding: 1px;
    border-radius: 5px;
    text-align: center;
}

.clear {
    width: 100%;
    height: 1.6em;
    font-weight: 600;
    margin-top: .2em;
}

#cart-form {
    width: 95%;
    margin: 1.5em auto;
    text-align: center;
}

.warn {
    font-size: .8rem;
    padding-top: 0px;
    height: 1.2em;
    color: red;
    margin: auto;
    display: none;
}

.details {
    width: 90%;
    height: 1.7em;
    background-color: #FFE9D6;
    margin: 10px;
}

#cart-amount-div {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

#cart-amount {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin: 1.5em auto;
    width: 7em;
}

#cart-amount-div p {
    font-size: 1rem;
    font-weight: 600;
}

#cart-buttons {
    height: 2em;
}

.modals-btn {
    width: 7.5em;
    height: 35px;
    float: right;
    border: none;
    border-radius: 3px;
    margin: 0 .4em .1em 0;
    font-size: .8rem;
    font-weight: 600;
}

#continue-btn {
    background-color: #FFE9D6;
}

#chkout-btn, #ok-btn {
    background-color: #FF9A3D;
    color: white;
}

#summary-modal {
    height: 30em;
    max-height: 630px;
    text-align: center;
    border: 2px solid #FF9A3D;
    border-radius: .3em;
}

#summary-modal p {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

#username {
    color: #FF7A00;
}

#summary-modal img {
    width: 30%;
    height: 20%;
}

#summary-modal h2 {
    font-weight: normal;
}

#summary-table {
    width: 85%;
}

#summary-table tr {
    width: 100%;
}

#ok-btn {
    position: absolute;
    bottom: .4em;
    right: .4em;
}

footer {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.footer-img-wrapper {
    width: 6.5em;
    margin: .4em;
}

footer img {
    max-width: 100%;
}

#footer-text {
    margin-left: auto;  
    padding-right: .4em;  
}

footer p, small {
    text-align: right;
    display: block;
    color: white;
    margin: .2em;
}

@media screen and (min-width: 481px){
    #intro {
        height: 600px;
    }

    #navblk {
        width: 230px;
        margin: 20px auto 0px;
    }

    #storefront {
        width: min(100%,350px);
        top: 35%;
    }

    #div-head {
        top: 70%;
        left: 10%;
        margin-bottom: 0px;
        width: 85%;
    }

    h1 {
        font-size: 27px;
    }

    #shop-btn-div {
        width: 250px;
        left: 18%;
    }

    #shop-main {
        grid-template-columns: 45% 45%;
        justify-content: space-between;
    }

    footer {
        padding:  0px;
        height: 80px;
    }

    footer img {
        width: 20%;
        max-width: 150px;
    }

    #footer-text {
        position: absolute;
        right: 0px;
        padding-top: 20px;
        margin-left: 5px;
        height: 45px;
        display: inline-block;
    }

    footer p {
        font-size: 16px;
    }

    small {
        font-size: 14px;
    }

    .modals {
        width: 90%;
    }

    table {
        margin: auto;
        width: 90%;
    }

    tr {
        font-size: 16px;
    }

    #cart-amount {
        font-size: 20px;
    }

    #cart-amount-div p {
        font-size: 18px;
    }

    .modals-btn {
        width: 30%;
        max-width: 300px;
    }
}

@media screen and (min-width: 769px) {
    #intro {
        height: 600px;
    }

    #EMS {
        top: 15px;
        right: 15px;
        width: 150px;
        height: 40px;
    }

    #navblk {
        width: 350px;
    }

    .nav {
        font-size: 20px;
    }

    #intro-main {
        padding: 0px 15px;
    }

    #storefront {
        position: static;
        transform: translate(0px,0px);
        float: right;
        margin: 55px 2% 25px 0px;
        width: 57%;
        max-width: 390px;
    }

    #div-head {
        position: static;
        float: right;
        width: 35%;
        margin: 60px 5% 40px 0px;
        height: 290px;
    }

    h1 {
        white-space: normal;
        font-size: 37px;
        line-height: 2;
    }

    #about p {
        font-size: 21px;
        margin: 20px 10px;
    }

    footer {
        height: 90px;
    }

    footer p {
        font-size: 20px;
    }

    footer small {
        font-size: 17px;
    }

    tr {
        font-size: 19px;
    }

    #cart-amount {
        font-size: 22px;
    }

    #cart-amount-div p {
        font-size: 20px;
    }

    .modals-btn {
        font-size: 14px;
    }
}

@media screen and (min-width: 901px) {
    #EMS {
        top: 5px;
        width: 13vw;
        height: 7vw;
    }

    #intro {
        height: 630px;
    }

    #cart-btn {
        min-width: 90px;
        height: 55px;
    }

    #cart-img {
        width: 45px;
    }

    #cart-count {
        font-size: 33px;
    }

    #storefront {
        width: 45%;
        max-width: 450px;
        max-height: 450px;
    }

    #div-head{
        max-width: 350px;
    }

    h1 {
        font-size: 45px
    }

    #shop-btn-div {
        width: 350px;
    }

    #shop-main {
        grid-template-columns: 25% 25% 25%;
        justify-content: space-around;
        padding: 0px;
    }

    #about p {
        font-size: 23px;
    }
    
    footer img {
        width: 15%;
    }

    footer p {
        font-size: 21px;
    }

    small {
        font-size: 18px;
    }
}

@media screen and (min-width: 1051px) {
    #EMS {
        top: 0px;
        width: 11vw;
        height: 6vw;
    }

    #storefront {
        margin-top: 5px;
        margin-right: 10%;
        width: 40%;
        max-width: none;
    }

    #div-head{
        margin-right: 5%;
        width: 40%;
        margin-top: 40px;
    }

    h1 {
        font-size: 50px;
    }
}