/* By Ayanga Oluwamurewa */
* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: white;
    min-height: 100vh;
}

/* navbar */
#prenav {
    position: relative;
    padding: 5px 0;
}
#EMS {
    position: absolute;
    top: .6em;
    left: 0;
    width: 6.5rem;
    height: 2rem;
}
#cart-btn {
    background-color: #FF9A3D;
    position: fixed;
    top: .4em;
    right: .5em;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    padding: .3em;
    height: 2.55rem;
    width: 4rem;
    border: none;
    border-radius: .8em;
}
#cart-img {
    width: 2.1rem;
}
#cart-count {
    color: white;
    text-align: center;
    font-size: 1.65rem;
    font-weight: bold;
    margin-top: 0.1em;
}
#navblk {
    margin: 3.5em auto 0;
    text-align: center;
    display: flex;
    width: 15rem;
}
.nav {
    text-decoration: dotted;
    color: black;
    width: 25%;
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0 auto;
}

/* intro section */
#intro {
    background-color: #FFE9D6;
    position: relative;
    padding-bottom: .3em;
}
#intro-main{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}
#h1-wrapper {
    color: #FF9A3D;
    margin: .8em 0;
    width: 100%;
}
h1 {
    font-size: 1.7rem;
    font-weight: 800;
    white-space: pre-wrap;
    width: 80%;
    margin: auto;
}
.intro-img-wrapper {
    width: 100%;
}
#intro-img {
    width: 70%;
    margin: 0;
}
#shop-btn-div {
    background-color: #FF9A3D;
    border: transparent;
    border-radius: 5px;
    width: 50%;
    margin: 1em auto;
}
#shop-btn-link {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: .6em auto;
}

/* about section */
#about {
    background-color: black;
    text-align: center;
    padding: .7em;
    color: white;
}
#about p {
    font-size: 1rem;
    margin: .6em .2rem;
    line-height: 1.5;
}

/* shop section */
#shop-head {
    font-size: 1.3rem;
    font-weight: 800;
    text-align: center;
}
#shop-main {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-evenly;
    align-items: center;
    padding: .4em;
}
.prod {
    text-align: center;
    margin: 1em auto;
    border-radius: .2em;
    max-width: 20em;
}
.prod-img-wrapper {
    position: relative;
}
.prod img {
    width: 100%;
}
.prod-img-wrapper div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 4px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    visibility: hidden;
}
.prod div p {
    border-bottom: 3px solid white;
    width: 60%;
    font-weight: 600;
    padding: .4em;
    font-size: 1.2rem;
    text-align: center;
    margin: 2em auto 1.3em;
}
.prod div strong {
    font-size: 1.5rem;
}
.prod strong {
    font-size: 1rem;
    font-weight: 600;
    display: block;
    margin: 15px auto;
}
.prod button {
    background-color: #FF7A00;
    margin: .5em auto;
    width: 90%;
    height: 40px;
    border: none;
    display: block;
    font-size: .85rem;
    font-weight: 600;
    border-radius: 5px;
}

/* modals */
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 3;
    padding: .4em;
    width: 100%;
    height: 100vh;    
}
.modals {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    padding: .4em;
    max-width: 750px;
    max-height: 80vh;
    border: none;
    border-radius: .3em;
    background-color: white;
    overflow-y: auto;
}

/* cart modal */
#cart-table, #summary-table {
    margin: 1.5em auto;
    width: 100%;
    text-align: left;
}
table {
    width: 100%;
}
tr {
    height: 3.5em;
    font-weight: 600;
    font-size: .8rem;
}
td {
    margin: .4em;
}
/* .prod-name {
    vertical-align: end;
} */
.reduce, .increase, .quant {
    width: 30%;
    float: left;
    font-weight: 600;
    text-align: center;
    height: 1.5em;
    margin-top: .3em;
}
.quant {
    margin-top: .45em;
}
.increase, .reduce, .clear{
    background-color: #FF9A3D;
    border: none;
    padding: 1px;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
}
.clear {
    width: 100%;
    height: 1.6em;
    margin-top: .2em;
}
#cart-form {
    width: 95%;
    margin: 1.5em auto;
    text-align: center;
}
.warn {
    font-size: .8rem;
    padding-top: 0px;
    height: 1.2em;
    color: red;
    margin: auto;
    display: none;
}
.details {
    width: 90%;
    height: 1.7em;
    background-color: #FFE9D6;
    margin: 10px;
    border: 1px solid #FF7A00;
    border-radius: .2em;
}
#cart-amount-div {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
#cart-amount {
    font-size: 1.1rem;
    font-weight: bold;
    display: block;
    margin: 1.5em auto;
    width: 7em;
}
#cart-amount-div p {
    font-size: 1rem;
    font-weight: 600;
}
#cart-buttons {
    height: 2em;
}
.modals-btn {
    width: 7.5rem;
    height: 2.1rem;
    float: right;
    border: none;
    border-radius: 3px;
    margin: 0 .4em .1em 0;
    font-size: .8rem;
    font-weight: 600;
}
#continue-btn {
    background-color: #FFE9D6;
}
#chkout-btn, #ok-btn {
    background-color: #FF9A3D;
    color: white;
}

/* summary modal */
#summary-modal {
    max-height: 90vh;
    height: auto;
    text-align: center;
    border: 2px solid #FF9A3D;
    border-radius: .3em;
}
#summary-modal p {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
#username {
    color: #FF7A00;
}
#summary-modal img {
    width: 30%;
    height: 20%;
}
#summary-modal h2 {
    font-weight: normal;
}
#summary-table {
    width: 85%;
}
#summary-table tr {
    width: 100%;
}
#ok-btn {
    position: absolute;
    bottom: .4em;
    right: .4em;
    float: none;
}

footer {
    background-color: black;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    padding: .2em;
}
.footer-img-wrapper {
    width: 6.5em;
    margin: .4em;
}
footer img {
    max-width: 100%;
}
#footer-text {
    margin-left: auto;  
    padding-right: .4em;  
}
footer p {
    text-align: right;
    display: block;
    color: white;
    margin: .2em;
}

@media screen and (min-width: 576px) {
    #EMS {
        left: .6em;
        height: 4rem;
        width: 7.5rem;
    }
    #navblk {
        margin: 1.7em auto;
        width: 18rem;
    }
    .nav {
        font-size: 1.4rem;
    }
    #cart-btn {
        top: .8em;
        right: .7em;
        width: 5rem;
        height: 3.5rem;
    }
    #cart-img {
        width: 2.9rem;
    }
    #cart-count {
        font-size: 2.1rem;
        margin-right: .05em;
    }
    #h1-wrapper {
        margin: 2em;
    }
    #shop-btn-div {
        width: 40%;
    }
    .modal-container {
        padding: .6em;   
    }
    #cart-table, #summary-table {
        margin: 1.5em auto;
        width: 90%;
    }
    tr {
        font-size: 1.2rem;
    }
    .increase, .reduce, .clear{
        padding: 1px;
        font-weight: 600;
        font-size: 1.2rem;
    }
    .clear {
        height: auto;
        padding: .2em 0;
        font-size: 1.1rem;
    }
    #cart-form-div {
        padding: .5em 0;
    }
    .details {
        height: 2.3em;
        font-size: 1rem;
    }
    .warn {
        font-size: 1rem;
    }
    #cart-amount-div p {
        font-size: 1.45rem;
    }
    #cart-amount {
        font-size: 1.4rem;
    }
    #cart-buttons {
        height: 3.7em;
    }
    .modals-btn {
        height: 3.5rem;
        width: 8rem;
        margin: 0 .7em 0 0;
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 768px) {
    #intro-main {
        justify-content: center;
    }
    #h1-wrapper {
        width: 45%;
        max-width: 400px;
        display: flex;
    }
    h1 {
        font-size: 2.5rem;
    }
    .intro-img-wrapper {
        width: 45%;
        max-width: 400px;
        margin-top: .8em;
    }
    #intro-img {
        width: 100%;
    }
    #shop-btn-link {
        font-size: 1.2rem;
    }
    #about p {
        font-size: 1.4rem;
    }
    #shop-head {
        font-size: 1.5rem;
    }
    #shop-main {
        grid-template-columns: 30% 30% 30%;
    }
    .prod strong {
        font-size: 1.3rem;
    }
    .prod button {
        font-size: 1rem;
    }
    footer p {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 992px) {
    #navblk {
        width: 30rem;
    }
    .nav {
        font-size: 1.7rem;
    }
    h1 {
        font-size: 2.7rem;
        line-height: 1.8;
    }
}